<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.88.1" />
    <title>Cultupaz-register</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/" />
    <script
      src="https://kit.fontawesome.com/729c569168.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="img/Logo-CultuPAz.png"
      type="image/x-icon"
    />
    <style>
      .contenedor {
        background: url(img/psico.jpg) no-repeat;
        background-size: cover;
        justify-content: start;
        color: white;
      }
      #contenedor_form {
        width: 70%;
        height: 90%;
      }

      #centrador {
        position: relative;
        width: 20vh;
      }

      .form-label {
        color: #00324d;
        text-align: center;
        font-weight: 750;
        font-size: 20px;
      }
    </style>
  </head>

  <body class="contenedor d-flex">
    <div
      class="container border border-dark rounded bg-secondary bg-opacity-50 text-dark mt-5 border-rounded-50"
      id="contenedor_form"
    >
      <!--formulario-->
      <form
        action="/register"
        method="post"
        class="row g-3 d-flex justify-content-center needs-validation"
      >
        <div class="aling-items-center mt-4" id="centrador">
          <a class="text-aling-center">
            <img
              src="img/Logo-CultuPAz.png"
              alt="Logo_empresa"
              width="140"
              height="70"
              class="d-inline-block"
          /></a>
        </div>
        <div>
          <h2 class="text-center" style="color: #00324d">Regístrate</h2>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <label for="formGroupExampleInput" class="form-label"
              >Nombres</label
            >
            <input
              type="text"
              class="form-control text-dark"
              name="nombres"
              id="names"
              placeholder="Ingrese Nombres"
              required
            />
            <div class="valid-feedback">bien hecho!</div>
            <div class="invalid-feedback">Porfavor ingrese los nombres</div>
          </div>

          <div class="col-sm-12 col-md-6">
            <label for="formGroupExampleInput" class="form-label"
              >Apellidos</label
            >
            <input
              type="text"
              class="form-control text-dark"
              name="apellidos"
              id="apellids"
              placeholder=" Ingrese apellidos"
              required
            />

            <div class="valid-feedback">bien hecho!</div>
            <div class="invalid-feedback">Porfavor ingrese los apellidos</div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <label for="tipo" class="form-label">Tipo documento</label>
            <select class="form-select mb-3 p-2" required>
              <option selected>Tipo de documento</option>
              <option value="CC">CC</option>
              <option value="NIT">NIT</option>
              <option value="CE">CE</option>
            </select>
            <div class="valid-feedback">bien hecho!</div>
            <div class="invalid-feedback">
              Porfavor seleccione el tipo documento
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <label for="numeroIdentificacion" class="form-label"
              >Numero de documento</label
            >
            <input
              type="number"
              class="form-control text-dark"
              name="numeroIdentificacion"
              id="identifi"
              placeholder="Ingrese numero documento"
              required
            />
            <div class="valid-feedback">bien hecho!</div>
            <div class="invalid-feedback">
              Porfavor ingrese el numero de documento
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <label for="tipo" class="form-label">Genero</label>
            <select class="form-select mb-3 p-2" required>
              <option selected>Seleccion su Genero</option>
              <option value="CC">Masculino</option>
              <option value="NIT">Femenino</option>
              <option value="CE">Otro</option>
            </select>
            <div class="valid-feedback">bien hecho!</div>
            <div class="invalid-feedback">
              Porfavor seleccione el tipo documento
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <label for="numeroFicha" class="form-label">Numero de Ficha</label>
            <input
              type="number"
              name="numeroFicha"
              class="form-control me-4 text-dark"
              id="ficha"
              placeholder=" Ingrese numero de ficha"
              required
            />
            <div class="valid-feedback">bien hecho!</div>
            <div class="invalid-feedback">
              Porfavor ingrese el numero de ficha
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <label for="telefono" class="form-label">Numero celular</label>
            <input
              type="number"
              name="telefono"
              class="form-control text-dark"
              id="tel"
              placeholder="Ingrese numero celular"
              required
            />
            <div class="valid-feedback">bien hecho!</div>
            <div class="invalid-feedback">
              Porfavor ingrese el numero de celular
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <label for="correo" class="form-label">Correo</label>
            <input
              type="email"
              class="form-control text-dark"
              name="correo"
              id="mail"
              placeholder="Ingrese su correo"
              required
            />
            <div class="valid-feedback">bien hecho!</div>
            <div class="invalid-feedback">Porfavor ingrese el correo</div>
          </div>
          <div class="col-sm-12 col-md-6">
            <label for="password" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control text-dark"
              name="password"
              id="pass"
              placeholder="Ingrese Contraseña"
              required
            />
            <div class="valid-feedback">bien hecho!</div>
            <div class="invalid-feedback">Porfavor ingrese la contraseña</div>
          </div>
          <div class="col-sm-12 col-md-6">
            <label for="password" class="form-label"
              >Confirmar contraseña
            </label>
            <input
              type="password"
              class="form-control text-dark"
              name="password"
              id="pass2"
              placeholder="Confirmar contraseña"
              required
            />
            <div class="valid-feedback">bien hecho!</div>
            <div class="invalid-feedback">Porfavor ingrese la contraseña</div>
          </div>
        </div>
        <a href="./login" class="font-weight-bold px-4" style="color: #00324d"
          >Ya tengo cuenta</a
        >

        <div class="form-check mx-4">
          <input
            class="form-check-input mx-2 mb-2"
            type="checkbox"
            value=""
            id="flexCheckDefault"
            required
          />
          <label
            class="form-check-label mx-1"
            for="flexCheckDefault"
            style="color: #00324d"
          >
            Acepto los terminos y condiciones
          </label>
          <div class="valid-feedback">bien hecho!</div>
          <div class="invalid-feedback">Porfavor acepte los terminos</div>
        </div>
        <div class="d-flex justify-content-center mb-4">
          <input
            type="submit"
            value="Registrarse"
            class="btn btn-lg w-50 text-light"
            style="background-color: #00324d"
          />
        </div>
      </form>
    </div>

    <script src="css/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/validacion.js"></script>
  </body>
</html>
